<div class="container">
  <div class="row jumbotron">
    <h1>Hello World</h1>
    <div class="row">
      <a class="btn btn-success" href="#"><span class="glyphicon glyphicon-list"></span> Index</a>
      <a class="btn btn-danger" href="#/feeds/new"><span class="glyphicon glyphicon-plus"></span> New </a>
    </div>
  </div>

  <div class="row">
    <div id='content'></div>
  </div>
  <script></script>
</div>
