<h2>New Feed</h2>
<div class="col-md-4">
<form>
  <div class="form-group">
    <label for="feed-url-input">Feed URL:</label>
    <input class="form-control" type="text" name="url" id="feed-url-input" value="<%= feed.escape('url') %>">
  </div>
  <input type="submit" value="Save feed" class="btn btn-primary">
</form>
</div>
